baostock==0.9.2
duckdb==1.5.4
lightgbm==4.6.0
mlflow==3.14.0
mlflow_skinny==3.14.0
mlflow_tracing==3.14.0
torch==2.12.1+cu130
torchvision==0.27.1+cu130
pytest
numba
numpy
pandas
scikit_learn
scipy
tqdm
psutil
